# Dependencies
node_modules

# Next.js
.next
out

# Output
.output
.vercel
.netlify
.wrangler
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Personal
todo.md
